.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    vertical-align: center;
    horiz-align: center;
}

.grid-itemLeft{
    text-align: right;
    horiz-align: right;
}

.grid-itemRight{
    text-align: left;
    horiz-align: left;
}

.label{
    width: 100px;
}

input{
    margin-bottom: 3px;
    width: 100%;
    border-style: solid;
    border-radius: 3px;
}

#loginButton:hover, #registerButton:hover, #forgottenPWButton:hover{
    background: rgb(159, 96, 96);
    color: white;
}