#headline {
    text-align: center;
}
.inhalt{
    background: rgba(245,245,245, 0.7);
    /*margin: 15px;*/
    border-radius: 0.5em;
    color: black;
    padding: 4px;
    border-color: black;
    border-width: 4px;
}
#ausgabe{
    display: none;
}
.einUndAusgabeFeld {
    padding: 2px;
    margin: 2px;
}
.wikitable{
    font-size: medium;
    border-collapse: collapse;
    color: black;
    margin-bottom: 10px;
    margin-left: 5px;
}
table, tr, th , td{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 3px;

}
.bmi {
    white-space: nowrap;
    text-align: center;
}
#berechnenButton{
    font-size: medium;
}