html {
    text-align: center;
    font-family: Arial, serif;
    display: block;
}

body {
    margin: auto;
}

/*---------------------------------------------------------------------------*/
/*header*/
header {
    color: whitesmoke;
    position: relative;
}

#headerContent {
    /*background-color: rgb(159, 96, 96);*/
    background-image: linear-gradient(90deg, dimgray 2%, gray 100%);
}

.h1 {
    font-size: 2em;
    display: block;
}

hr {
    background-image: linear-gradient(90deg, dimgray 2%, gray 100%);
    border-bottom-width: 2px;
    border-bottom-color: rgb(174, 174, 174);
    margin-top: 0;
    margin-bottom: -3px;
}

/*zu den Buttons*/
#auswahlMenue {
    /*in JavaScrpt wird zwischen inline-block und none geswitched*/
    display: none;
}

#auswahlMenue button {
    border: none;
    border-radius: 3em;
    background: none;
    color: ghostwhite;
}

#auswahlMenue button:hover {
    background: rgb(159, 96, 96);
}

#auswahlMenue button:focus, #auswahlMenue button:active {
    outline: none;
}

/*Pfeil nach unten*/
#arrowDown {
    width: 2em;
    height: 2em;
    animation: jump .100s linear;
}

/*---------------------------------------------------------------------------*/
/*Main*/
main {
    top: auto;
    text-align: left;
}

/*---------------------------------------------------------------------------*/
/*Footer*/
footer {
    position: relative;
    border-bottom-width: 2px;
    border-top-color: rgb(174, 174, 174);
    padding: 10px;
}

footer section div {
    width: 33%;
}

a.socialMedia:link {
    text-underline-mode: none;
    color: black;

}

img.Instagram {
    width: 3em;
    height: 3em;
}