#editable{
    display: inline-block;
}
#berechne{
    text-align: center;
}
#benutzerEingabeORM div{
    display: inline-block;
    text-align: left;
}
#formelORM{
    display: table-cell;
    text-align: center;
}
#ergebnis, #bruch{
    vertical-align: middle;
    display: inline-block;
}
