#headline {
    text-align: center;
}
.inhalt{
    background: rgba(245,245,245, 0.7);
    /*margin: 15px;*/
    border-radius: 0.5em;
    color: black;
    padding: 4px;
    border-color: black;
    border-width: 4px;
}
#ausgabe{
    display: none;
}
.einUndAusgabeFeld {
    padding: 2px;
    margin: 2px;
}
.wikitable{
    font-size: medium;
    border-collapse: collapse;
    color: black;
    margin-bottom: 10px;
}
table, tr, th , td{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 2px;

}
.bmi {
    white-space: nowrap;
    text-align: center;
}
#berechnenButton{
    font-size: medium;
}
/*Dialogfenster*/
dialog {
    display: none;
    position: relative;
    background: white;
    border: 1px solid grey;
    border-radius: 0 .5em .5em;
    z-index: 1002;
    padding: .5em 1em;
    width: 100%;
    height: auto;
}

dialog[open="open"] {
    display: block;
}

@media (min-width: 30em) {
    dialog {
        position: absolute;
        top: 50%;
        margin-top: -10em;
        left: 50%;
        margin-left: -10em;
        width: 20em;
    }
}

dialog::backdrop,
#backdrop {
    /* Ebene zwischen Hintergrund und Dialog-Box, Pseudoelement noch nicht implementiert */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

dialog #close-dialog {
    position: absolute;
    right: 0;
    top: 0;
    height: 2em;
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 0 .5em .5em;
}