rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bmi/{anything=**} {
      allow read, write: if true;
    }
    match /kJoule/{anything=**} {
      allow read, write: if true;
    }
    match /orm/{anything=**} {
      allow read, write: if true;
    }
  }
  }
