#anmeldeLoading, #startseiteLoading, #ormLoading, #bmiLoading, #kjouleLoading{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 5em;
    height: 5em;
    margin: -3em 0 0 -3em;
    border: 1em solid white;
    border-radius: 50%;
    border-top: 1em solid rgb(159, 96, 96);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}