.kjoule {

    background-image: url(../resources/Smartphone_background.jpg);
    background-size: cover;
    overflow-y: -moz-hidden-unscrollable;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    top: auto;
    text-align: left;
    margin-bottom: 5em;
    font-size: 14px;
}

input{
    width: 35%;
    font-family: Arial, serif;
    font-size: 14px;
    color: dimgray;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-bottom-width: 1.5px;
}

output{
    width: 35%;
    background-color: white;
    font-family: Arial, serif;
    font-size: 14px;
    color: dimgray;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-bottom-width: 1.5px;
}
#kursiv{
    font-style: italic;
}

/*#datenbankmenu {*/
/*    display: table-cell;*/
/*    width: 100vw;*/
/*    text-align: center;*/
/*    border-bottom: black solid 1px;*/
/*    background: rgba(245,245,245, 0.7);*/
/*    border-radius: 2em;*/
/*    color: black;*/
/*    padding: 0;*/
/*}*/