body{
    min-width: 335px;
}
.center{
    text-align: center;
}

/*Tabs*/
#tabMenue {
    display: table-cell;
    width: 100vw;
    text-align: center;
    border-bottom: black solid 1px;
    background: rgba(245,245,245, 0.7);
    border-radius: 2em;
    color: black;
    padding: 0;
}

.tab {
    display: inline-block;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
    border: none;
    border-radius: 3em;
    background: rgba(10,10,10,0.7);
    color: ghostwhite;
    font-size: large;
}
.tab:active, .tab:focus{
    outline: none;
    background:  rgb(159, 96, 96);
}
/*Absatz 1: Beschreibung*/
h1{
    text-align: center;
}
#beschreibungORM b{
    color:  rgb(159, 96, 96);
}
/*Absatz 2: Rechner*/
#uiORM{
    display: table-cell;
    text-align: center;
    width: 100vw;
}
/*Absatz 2.1*/
#editable{
    display: inline-block;
    margin: 1em;
    text-align: center;
}
#benutzerEingabeORM div{
    display: inline-block;
    text-align: left;
}
#berechne{
    text-align: center;
}
#berechne button {
    border: none;
    border-radius: 3em;
    background: rgba(10,10,10,0.7);;
    color: ghostwhite;
    margin: 1em;
    font-size: large;
}
#berechne button:hover, #berechne button:focus, #berechne button:active{
    outline: none;
    background: rgba(10,10,10,0.2);
}
/*Absatz 2.2*/
#formelORM{
    display: table-cell;
    margin: 1em;
    text-align: center;
}
#bruch hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgba(10,10,10,1);
    margin: 0;
    padding: 0;
}
#bruch div{
    padding: 2px;
}
#ergebnis, #bruch, #editable, #formelORM{
    vertical-align: middle;
    display: inline-block;
}
/*Absatz 3: Tabelle*/
#table{
    display: table-cell;
    text-align: center;
    width: 100vw;
}
.inhaltTabelle{
    width: 300px;
    background: rgba(245,245,245, 0.7);
    border-radius: 0.5em;
    color: black;
    padding: 4px;
    display: inline-block;
    margin: 1em;
    text-align: center;
}
table{
    text-align: center;
    border-spacing: 5px;
    border-collapse: collapse;
    min-width: 300px;
}
.tableHeader{
    background:  rgb(159, 96, 96);
}
table, tr,th{
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
/*------------*/
#savedDataDiv, #editDataDiv{
    background: rgba(245,245,245, 0.7);
    margin: 10px;
    border-radius: 0.5em;
    color: black;
    padding: 4px;
    display: none;
}
#myChart{
    background: rgba(245,245,245, 0.7);
}
#delete{
    /*background: rgba(245,0,0, 0.7);*/
    margin: 10px;
    border-radius: 0.5em;
    color: black;
    padding: 4px;
}
.delete{
    background: rgba(10,10,10,0.2);
}
.hidden{
    display: none;
}
/*------------*/
@media (max-width: 500px) {
    #editable{
        font-size: 12px;
    }
    #formelORM{
        font-size: 50%;
    }
}
@media (max-width: 615px) {
    #editable{
        font-size: 12px;
    }
    #formelORM{
        font-size: 70%;
    }
}
