/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    text-align: center;
    font-family: Arial, serif;
    display: block;
    margin: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(resources/Smartphone_background.jpg);
}

/*
 * Häufig benötigte Hilfsklassen
 */
.hidden {
    display: none !important;
}

/*---------------------------------------------------------------------------*/
/*header*/

header {
    flex: none;
    color: whitesmoke;
    position: relative;
}

#socialMedia, #logout, #impressum, #registerButton, #loginButton, #forgottenPWButton, #startseite, #auswahlAbi,
#auswahlHan, #auswahlSas, #footerMenu {
    cursor: pointer;
}
li img{
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}
#headerContent {
    /*background-color: rgb(159, 96, 96);*/
    background-image: linear-gradient(90deg, dimgray 2%, rgb(112, 112, 112));
}

.h1 {
    font-size: 2em;
    display: block;
}

hr {
    background-image: linear-gradient(90deg, dimgray 2%, rgb(183, 184, 186));
    border-bottom-width: 2px;
    border-bottom-color: rgb(174, 174, 174);
    margin: 0;
}

/*zu den Buttons*/
#auswahlMenue {
    /*in JavaScrpt wird zwischen inline-block und none geswitched*/
    display: none;
    -webkit-animation-name: menue;
    -webkit-animation-duration: 1s;
    animation-name: menue;
    animation-duration: 1s;
}

@-webkit-keyframes menue {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#auswahlMenue button, footer div {
    border: none;
    border-radius: 3em;
    background: none;
    color: ghostwhite;
    font-size: large;
}

#auswahlMenue button a {
    text-decoration: none;
    color: ghostwhite;
}
#auswahlMenue button:hover{
    background: rgb(159, 96, 96);
}

#auswahlMenue button:focus, #auswahlMenue button:active,
#impressum:focus, #impressum div:active,
#socialMedia:focus, #socialMedia div:active
#logout:focus, #logout:active {
    outline: none;
}

/*Pfeil nach unten*/
#arrowDowndiv {
    height: 1.3em;
    background-color: rgba(112, 112, 112, 1);
    /*background-image: linear-gradient(90deg, dimgray 2%, rgba(112,112,112, 1));*/
    -webkit-animation-name: menue;
    -webkit-animation-duration: 1s;
    animation-name: menue;
    animation-duration: 1s;
}

#arrowDown:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#arrowDown {
    width: 2.5em;
    animation: jump .100s linear;
    background-color: rgba(112, 112, 112, 1);
    /*background-image: linear-gradient(90deg, dimgray 2%, rgb(112,112,112));*/
    /*Runder Pfeil nach unten*/
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.grid-container-standard {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}

.grid-container-center{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    vertical-align: center;
    horiz-align: center;
    justify-items: center;
    align-items: center;
}


#tabMenue, #datenbankmenu, #bmimenu {
    border-bottom: black solid 1px;
    background: rgba(245, 245, 245, 0.7);
    border-radius: 2em;
    color: black;
    padding: 0;
}


/*Footer als Dropdown Menü oben links*/

#footerMenu {
    position: absolute;
    left: 0px;
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    animation-name: animate;
    animation-duration: 1s;
    /*top:0px;
    /*height, da footer Menü im Header drinnen steckt, und daher nicht über die restliche Seite laufen kann*/
    height: 95vh;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: left;
}

@-webkit-keyframes animate {
    from {
        left: -100px;
        opacity: 0
    }
    to {
        left: 0px;
        opacity: 1
    }
}

@keyframes animate {
    from {
        left: -100px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

/*Listen ohne Listenpunkte*/
li.hiddenStyle {
    list-style: none;
}

/*Footer Icon formatieren*/
#footerMenuP {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3em;
    height: 2.3em;
    background-color: rgba(255, 255, 255, 0.3);
}

/*Auswahl Icon des Footer wird deckend, wenn man drüber fährt*/
#footerMenuP:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/*ToolTip Funktion für FooterMenu*/
/*#tooltip{*/
/*    position:relative;*/
/*    display: inline-block;*/
/*}*/
/*#tooltiptext{*/
/*    display: none;*/
/*}*/
/*#tooltip #tooltiptext{*/
/*    visibility: hidden;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding: 5px 0;*/
/*    left: 105%;*/
/*}*/
/*#test:hover, #tooltiptext {*/
/*    display: inline-block;*/
/*    animation-name: menue;*/
/*    animation-duration: 1s;*/
/*}*/

/*---------------------------------------------------------------------------*/
/*Main*/
main {
    /*background-image: url(resources/Smartphone_background.jpg);*/
    background-size: cover;
    flex: auto;
    top: auto;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 9vh;
}

div {
    -webkit-animation-name: menue;
    -webkit-animation-duration: 1s;
    animation-name: menue;
    animation-duration: 1s;
}

.inhalt {
    background: rgba(245, 245, 245, 0.7);
    margin: 10px;
    border-radius: 0.5em;
    color: black;
    padding: 4px;
}

/*---------------------------------------------------------------------------*/
/*Footer*/
/*Bei einem hover auf die einzelnen divs
(Impressum, Copyright, Soziale Medien), wird die selbe Methode verwendet wie bei den header buttons*/
footer {
    border-top-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(183, 184, 186);
    position: absolute;
    flex: none;
    float: bottom;
    padding: 10px;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, dimgray 2%, rgb(140, 140, 140));
    height: 6%;
}

footer div {
    display: inline-table;
    padding: 1em;
    position: relative;
    text-align: center;
}

a.smLink:link {
    text-decoration: none;
    padding: 2px;
    color: black;
}

div#impressum {
    position: relative;
    margin-right: 1.8em;
}
div#logout{
    position: relative;
    margin-right: 3.7em;
}

#menue{
    padding-right: 1.5em;
}

#socialMediaLinks {
    text-align: left;
    position: absolute;
    background: white;
    display: none;
    border: solid;
    border-radius: 1em;
    width: max-content;
}

div#socialMedia:hover #socialMediaLinks {
    display: block;
}

a:visited {
    color: black;
}

img.Instagram {
    width: 1em;
    height: 1em;
}

.hidden {
    display: none;
}

/* Größerer Bildschirm */
@media screen and (min-width: 50em) {
    body {
        background-image: url(resources/PC_hantel.jpg);
    }
}

/* "hier"-Buttons wie Links anzeigen lassen */
#here_Maximal, #here_BMI, #here_KCalUmrechner {
    color: blue;
    cursor: pointer;
}

/*Startseite Text und Video formatieren*/
#infoVid{
    text-align: center;
}

.infoText{
    padding: 2em;
}

#vid{
    height: 45vh;
    width: 55%;
}
/*Media Screen nach Anleitung*/
/*@media screen and (min-width: 49.125em){
    body, input{
        font-size: 12pt;
    }
    footer {
    }
}
@media screen and (min-width: 62em){
    body, input{
        font-size: 13pt;
    }
    footer {
    }
}
@media screen and (min-width: 75px){
    body, input{
        font-size: 14pt;
    }
    footer {
    }}
 @media screen and (min-width: 85em){
    html{
    background-image: url(resources/Smartphone_background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }
    body{
    display: flex;
    align-items: stretch;
    justify-content: center;
    }
    body > * {
    flex: 1;
    }
 }*/