/*
 * Dieses Stylesheet enthält nur allgemeine Anweisungen, die sich auf die
 * gesamte App auswirken. Hier dürfen keine Änderungen vorgenommen werden,
 * die sich nur auf bestimmte Bereiche der Anwendung auswirken sollen.
 *
 * Damit @import funktioniert, muss die Anweisung vor allen anderen
 * CSS-Anweisungen stehen. Dieses Stylesheet muss daher auch vor allen
 * anderen importiert werden.
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    text-align: center;
    font-family: Arial, serif;
    display: block;
    margin: auto;
    height: 100%
}
/*Media Screen nach Anleitung*/
/*@media screen and (min-width: 786px){
    body, input{
        font-size: 12pt;
    }
    footer {
    }
}
@media screen and (min-width: 992px){
    body, input{
        font-size: 13pt;
    }
    footer {
    }
}
@media screen and (min-width: 1200px){
    body, input{
        font-size: 14pt;
    }
    footer {
    }}
 @media screen and (min-width: 85em){
    html{
    background-image: url(resources/Smartphone_background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }
    body{
    display: flex;
    align-items: stretch;
    justify-content: center;
    }
    body > * {
    flex: 1;
    }
 }*/

body {
    display: flex;
    flex-direction: column;
}

/*
 * Häufig benötigte Hilfsklassen
 */
.hidden {
    display: none !important;
}

/*---------------------------------------------------------------------------*/
/*header*/
header {
    flex: none;
    color: whitesmoke;
    position: relative;

}

#headerContent {
    /*background-color: rgb(159, 96, 96);*/
    background-image: linear-gradient(90deg, dimgray 2%, rgb(112,112,112));
}

.h1 {
    font-size: 2em;
    display: block;
}
#arrowDowndiv{
    height: 24px;
}

hr {
    background-image: linear-gradient(90deg, dimgray 2%, rgb(183,184,186));
    border-bottom-width: 2px;
    border-bottom-color: rgb(174, 174, 174);
    margin: 0;
}

/*zu den Buttons*/
#auswahlMenue {
    /*in JavaScrpt wird zwischen inline-block und none geswitched*/
    display: none;
}

#auswahlMenue button, footer div {
    border: none;
    border-radius: 3em;
    background: none;
    color: ghostwhite;
    font-size: large;
}

#auswahlMenue button a{
    text-decoration: none;
    color: ghostwhite;
}

#auswahlMenue button:hover, #impressum:hover, #socialMedia:hover {
    background: rgb(159, 96, 96);
}

#auswahlMenue button:focus, #auswahlMenue button:active, #impressum:focus, #impressum div:active, #socialMedia:focus, #socialMedia div:active {
    outline: none;
}

/*Pfeil nach unten*/
#arrowDown {
    width: 1.5em;
    height: 1.5em;
    animation: jump .100s linear;
}

/*---------------------------------------------------------------------------*/
/*Main*/
main {
    background-image: url(resources/Smartphone_background.jpg);
    background-size: cover;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    top: auto;
    text-align: left;
    margin-bottom: 9vh;
}

.inhalt{
    background: rgba(245,245,245, 0.7);
    margin: 10px;
    border-radius: 0.5em;
    color: black;
    padding: 4px;
    overflow-x: scroll;
}




/*---------------------------------------------------------------------------*/
/*Footer*/
/*Bei einem hover auf die einzelnen divs
(Impressum, Copyright, Soziale Medien), wird die selbe Methode verwendet wie bei den header buttons*/
footer {
    border-top-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(183,184,186);
    position: absolute;
    flex: none;
    float: bottom;
    padding: 10px;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, dimgray 2%, rgb(140,140,140));
    height: 6%;
}

footer div {
    display: inline-table;
    padding: 1em;
    position: relative;
    text-align: center;
}

a.smLink:link {
    text-decoration: none;
    padding: 2px;
    color: black;
}
div#socialMedia{
    position: relative;
}
div.socialMediaLinks{
    text-align: left;
    position: absolute;
    background: white;
    display: none;
    border: solid;
    border-radius: 1em;
    width: max-content;
}
div#socialMedia:hover .socialMediaLinks{
    display: block;
    bottom: 1em;
}
a:visited{
    color: black;
}


img.Instagram {
    width: 1em;
    height: 1em;
}

.hidden{
    display: none;
}